body{
    background-color: rgb(43, 0, 40);
    background-repeat: no-repeat;
    margin-top: 5%;
    margin-bottom: 15%;
}
.hero-img{
    display: flex;
    width: 100%;
    border-radius: 15%;
}
.hero-main{
    display: grid;
    text-align: center;
}
.hero-title{
    font-family: 'Courier New', Courier, monospace;
}
.redes-ok{
    display: grid;
    height: 100%;
    font-size: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}
.tex-ig{
   display: grid;
   position: absolute;
   left: 40%;
   align-items: center;
   z-index: 1;
}
.img-yt{
    display: grid;
    position: absolute;
    left: 57%;
    align-items: center;
    z-index: 2;
}
.tex-UB{
    display: grid;
    position: absolute;
    left: 49%;
    align-items: center;
    z-index: 3;
}

@media (min-width: 768px) and (max-width: 990px) {
    .hero-ok {

    }
}

@media (max-width: 767px) {
    .hero-ok{

    }
}

@media (min-width: 991px) {
    .hero-ok{

    }
}